USE [master]
GO
/****** Object:  Database [Uptick]    Script Date: 4/11/2018 2:34:53 PM ******/
CREATE DATABASE [Uptick]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UPTICK', FILENAME = N'E:\\databases\Uptick.mdf' , SIZE = 1024KB , MAXSIZE = 10485760KB , FILEGROWTH = 1024KB ),
( NAME = N'Uptick_c5df5cb5-ed22-47a9-a2b1-04fe2529a3d7', FILENAME = N'E:\\databases\Uptick_1.ndf' , SIZE = 7168KB , MAXSIZE = 10485760KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UPTICK_log', FILENAME = N'F:\dblogs\Uptick_1.ldf' , SIZE = 1048576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Uptick].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Uptick]
GO
USE [Uptick]
GO
/****** Object:  Table [dbo].[Make]    Script Date: 4/11/2018 2:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Make](
	[_AutoId] [int] NULL,
	[Make] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelToPart]    Script Date: 4/11/2018 2:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelToPart](
	[_MakeId] [int] NOT NULL,
	[_PartId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 4/11/2018 2:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[_PartId] [int] NOT NULL,
	[PartNo] [nvarchar](50) NULL,
	[PartDescription] [nvarchar](max) NULL,
	[PartVer] [nchar](10) NULL,
	[PartQty] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
